# Find more available configuration properties on the following pages of the documentation.
# https://docs.cibseven.org/manual/latest/user-guide/cibseven-run/#configure-cibseven-run
# https://docs.cibseven.org/manual/latest/user-guide/spring-boot-integration/configuration/#cib-seven-engine-properties

camunda.bpm:
  run:
# https://docs.cibseven.org/manual/latest/user-guide/cibseven-run/#cross-origin-resource-sharing
    cors:
      enabled: true
      allowed-origins: "*"
  authorization.enabled: true
  
# datasource configuration is required
spring.datasource:
  url: jdbc:h2:./camunda-h2-default/process-engine;TRACE_LEVEL_FILE=0;DB_CLOSE_ON_EXIT=FALSE
  driver-class-name: org.h2.Driver
  username: sa
  password: sa

# CIB seven Keycloak Identity Provider Plugin
# Externalized Keycloak configuration
keycloak:
  # Keycloak access for the Identity Provider plugin.
  host: ${KEYCLOAK_HOST}
  realm: ${KEYCLOAK_REALM:camunda}
  # Keycloak Camunda Identity Client
  client.id: ${KEYCLOAK_CLIENT_ID:camunda-identity-service}
  client.secret: ${KEYCLOAK_CLIENT_SECRET}

plugin.identity.keycloak:
  keycloakIssuerUrl: ${keycloak.host}/auth/realms/${keycloak.realm}
  keycloakAdminUrl: ${keycloak.host}/auth/admin/realms/${keycloak.realm}
  clientId: ${keycloak.client.id}
  clientSecret: ${keycloak.client.secret}
  useEmailAsCamundaUserId: false
  useUsernameAsCamundaUserId: true
  useGroupPathAsCamundaGroupId: true
  administratorGroupName: camunda-admin
  disableSSLCertificateValidation: true

spring:
  config:
    import:
      - optional:classpath:cibseven-webclient.properties

cibseven:
  webclient:
    engineRest:
      url: http://localhost:8080
    historyLevel: full
    # Token generation
    authentication:
      jwtSecret:
      tokenValidMinutes: 30
      tokenProlongMinutes: 10
    # LDAP
    ldap:
      url: ldap://ldap.cibseven.org
      folder: DC=cibseven,DC=org
      userNameAttribute: samAccountName
      userDisplayNameAttribute: name
      modifiedDateFormat: yyyyMMddHHmmss.SX
      followReferrals: follow

    # BPM Provider
    bpm:
      provider: org.cibseven.webapp.providers.SevenProvider

    # User providers
    user:
      provider: org.cibseven.webapp.auth.SevenUserProvider

    # Set the wild card is gonna be used for the users search. By default is "*".
    users:
     search:
       wildcard:

    # If this params is set to false, the number of instances and incidents wont be taken.
    fetchInstances: true
    fetchIncidents: true

    # External token user creation
    token:
      secret: 
      deny:
        external:
          ip: true
    datasource:
      fileValue:
        enabled: false
    cockpit:
      url: /camunda/app/cockpit/default/
    theme: cib

    services:
      basePath: services/v1

    api:
      common:
        title: "CIB seven webclient API"
        description: "This API exposes the functionality of CIB seven webclient as a REST service under the Apache License 2.0."
        termsOfService: "https://www.apache.org/licenses/LICENSE-2.0"
        license: "Apache 2.0"
        licenseUrl: "https://www.apache.org/licenses/LICENSE-2.0"
        contact:
          name: "CIB seven"
          url: "https://cibseven.org"
          email: "info@cibseven.org"
        # webclient server url for the swagger-ui. Only needs to be set if the automatic detection is wrong.
        url: