apiVersion: apps/v1
kind: Deployment
metadata:
   name: keycloak-showcase-deployment
spec:
   replicas: 1
   selector:
      matchLabels:
         app: keycloak-showcase
   minReadySeconds: 10
   strategy:
      type: RollingUpdate
      rollingUpdate:
         maxUnavailable: 1
         maxSurge: 1
   template:
      metadata:
         labels:
            app: keycloak-showcase
      spec:
         containers:
         - name: keycloak-showcase
           image: cibseven/cibseven-showcase-keycloak:2.1.0-SNAPSHOT
           ports:
           - containerPort: 8080
           env:
           - name: JDBC_URL
             value: jdbc:postgresql://postgres-service:5432/camunda
           - name: JDBC_USER
             value: camunda
           - name: JDBC_PASSWORD
             value: camunda1!
           - name: KEYCLOAK_URL_AUTH
             value: http://192.168.49.2.nip.io/auth
           - name: KEYCLOAK_URL_TOKEN
             value: http://keycloak-server-service:8080/auth
           - name: KEYCLOAK_URL_PLUGIN
             value: http://keycloak-server-service:8080/auth
           - name: KEYCLOAK_CLIENT_ID
             value: camunda-identity-service
           - name: KEYCLOAK_CLIENT_SECRET
             value: 0F0yFyCvv2T901fvMSbKlAd7f8QkyxNg
         initContainers:
         - name: init-keycloak
           image: busybox:1.28
           command: ['sh', '-c', "until nc -z -w 2 keycloak-server-service:8080; do echo waiting for keycloak; sleep 5; done"]
         - name: init-postgres
           image: busybox:1.28
           command: ['sh', '-c', "until nc -z -w 2 postgres-service:5432; do echo waiting for postgres; sleep 5; done"]
