name: Build project with Maven
on:
  pull_request: 
  push: 
  schedule:
  - cron: '2 2 * * 1-5' # run nightly master builds on weekdays
  workflow_dispatch: # can be used to trigger the workflow manually

jobs:
  build:
    runs-on: ubuntu-24.04
    services:
      keycloak:
        image: quay.io/keycloak/19.0.3-legacy
        env:
          KEYCLOAK_USER: keycloak
          KEYCLOAK_PASSWORD: keycloak1!
          DB_VENDOR: h2
        ports:
          - 8080:8080
          - 9000:9000
        options: --health-cmd "curl -Iks http://localhost:8080" --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Java setup
      uses: actions/setup-java@v5
      with:
        java-version: 17
        distribution: temurin
    - name: Cache
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # pin@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Wait for Keycloak to be ready
      run: |
        echo "Waiting for Keycloak to be ready..."
        timeout 120 bash -c 'until curl -f http://localhost:8080/auth; do sleep 2; done'
    - name: Run Maven
      env:
        KEYCLOAK_URL: https://localhost:${{ job.services.keycloak.ports[8080] }}/auth        
        KEYCLOAK_ADMIN_USER: ${{ job.services.keycloak.env.KEYCLOAK_USER }}
        KEYCLOAK_ADMIN_PASSWORD: ${{ job.services.keycloak.env.KEYCLOAK_PASSWORD }}
        KEYCLOAK_ENFORCE_SUBGROUPS_IN_GROUP_QUERY: false
      run: mvn -B clean install com.mycila:license-maven-plugin:check
